name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: install gcc toolchain
      run: sudo apt-get install -y gcc-arm-none-eabi
    - name: build
      run: for cfg in `ls build/configs/arm/`; do make distclean && make $cfg && make || break; done
